<% include header-admin %>
	<div class="section-1">
			<ul class="list">
				<li><a href="/admin">Главная</a></li>
				<li><a href="/admin/news"><i class="th-pin"></i> Записи</a></li>
				<li class="active"><a href="actors"><i class="th-group"></i> Актеры</a></li>
				<li><a href="/admin/imgs"><i class="th-picture"></i> Медиафайлы</a></li>
			</ul>
		</div>
		<div class="section-2">
			<h2>Актеры</h2>
			<div class="element-list">
				<a href="/admin/actors/add">
					<div class="list-element">
						<div class="plus"><span></span><span></span></div>
						<div class="text">
							<a href="/admin/actors/add" class="href-btn ok">Добавить</a>
						</div>
					</div>
				</a>
				<% actors.forEach( (actor) => { %>

							<div class="list-element">
								<div class="oimg">
									<img src="<%= actor.img %>">
								</div>
								<div class="text">
									<h4><%= actor.name %> <%= actor.secname %></h4>
									<p><%= actor.role %></p>
									<a href="/admin/actors/edit/<%= actor.id %>" class="href-btn ok"><i class="th-pencil"></i> Изменить</a>
									<button class="href-btn danger" onclick="deleteActor(<%= actor.id %>)"><i class="th-trash"></i> Удалить</button>
								</div>
							</div>
				<% }); %>

			</div>
		</div>
		
<% include footer-admin %>