<% include header-admin %>
	<div class="section-1">
			<ul class="list">
				<li><a href="/admin"><i class="th-home"></i> Главная</a></li>
				<li class="active"><a href="/admin/news"><i class="th-edit"></i> Изменение</a></li>
				<li><a href="/admin/actors"><i class="th-group"></i> Актеры</a></li>
				<li><a href="/admin/imgs"><i class="th-picture"></i> Медиафайлы</a></li>
			</ul>
		</div>
		<div class="section-2" data-page="afish-editing">
			<h2>Редактирование</h2>
					<form class="f">
						<div class="form">
								<div class="form-el">
									<p>Название:</p>
								</div>
								<div class="form-el">
									<input type="text" name="name" placeholder="Название" autocomplete="off" value="<%= post.title %>"></input>
								</div>
								<div class="form-el">
									<p>Описание:</p>
								</div>
								<div class="form-el">
									<textarea name="text" placeholder="Описание..." autocomplete="off"><%= post.text %></textarea>
								</div>
								<div class="form-el">
									<p>Дата:</p>
								</div>
								<div class="form-el">
									<input type="text" name="date" placeholder="ГГГГ-ММ-ДД" autocomplete="off" value="<%= moment(post.date).format('YYYY-MM-DD') %>"></input>
								</div>
								<div class="form-el">
									<p>Картинка:</p>
								</div>
								<div class="form-el">
									<div class="omg">
										<img src="<%= post.img %>">
										<input type="hidden" name="img" value="<%= post.img %>">
									</div>
								</div>
								<div class="form-el"></div>
								<div class="form-el">
									<label class="file ok" onclick="showImg()">Изменить изображение</label><br><br>
									<input type="button" value="Подтвердить изменения" class="ok" onclick="editNews()">
								</div>
								<input type="number" name="id" hidden="true" value="<%= post.id %>"></input>
						</div>
					</form>
		</div>
		<div class="select-img-block">
			<div class="wrapper-img"></div>
			<button onclick="hideImg()"></button>
		</div>

<% include footer-admin %>