<% include header-admin %>
	<div class="section-1">
			<ul class="list">
				<li><a href="/admin"><i class="th-home"></i> Главная</a></li>
				<li><a href="/admin/news"><i class="th-pin"></i> Записи</a></li>
				<li><a href="/admin/actors"><i class="th-group"></i> Актеры</a></li>
				<li class="active"><a href="/admin/imgs"><i class="th-picture"></i> Медиафайлы</a></li>
			</ul>
		</div>
		<div class="section-2">
			<h2>Редактирование медиафайлов</h2>
			<form class="f">
				<input type="button" class="file ok" value="Добавить изображение" onclick="showUp()">
				<p class="note">Выберите картинки для удаления</p>
				<input type="button" value="Удалить" class="danger" onclick="deleteIMG()">
				<input type="reset" class="reset">
				<div class="folder">
					<h3><i class="th-folder"></i> gallery</h3>
					<hr>
				</div>
				<div class="row">
					<div class="col-25">
						<% for (let i=0; i < gallery.length; i+=4) { %>
							<div class="img">
								<label>
									<input type="checkbox" name="image" value="<%= gallery[i].id %>"/>
									<img src="<%= gallery[i].img %>" onclick="chooseImgForEditMedia(this)"/>
									<span class="checkmark"></span>
								</label>
							</div>
						<% } %>
					</div>
					<div class="col-25">
						<% for (let i=1; i < gallery.length; i+=4) { %>
							<div class="img">
								<label>
									<input type="checkbox" name="image" value="<%= gallery[i].id %>"/>
									<img src="<%= gallery[i].img %>" onclick="chooseImgForEditMedia(this)"/>
									<span class="checkmark"></span>
								</label>
							</div>
						<% } %>
					</div>
					<div class="col-25">
						<% for (let i=2; i < gallery.length; i+=4) { %>
							<div class="img">
								<label>
									<input type="checkbox" name="image" value="<%= gallery[i].id %>"/>
									<img src="<%= gallery[i].img %>" onclick="chooseImgForEditMedia(this)"/>
									<span class="checkmark"></span>
								</label>
							</div>
						<% } %>
					</div>
					<div class="col-25">
						<% for (let i=3; i < gallery.length; i+=4) { %>
							<div class="img">
								<label>
									<input type="checkbox" name="image" value="<%= gallery[i].id %>"/>
									<img src="<%= gallery[i].img %>" onclick="chooseImgForEditMedia(this)"/>
									<span class="checkmark"></span>
								</label>
							</div>
						<% } %>
					</div>
				</div>
				<div class="folder">
					<h3><i class="th-folder"></i> actors</h3>
					<hr>
				</div>
				<div class="row">
					<div class="col-25">
						<% for (let i=0; i < actors.length; i+=4) { %>
							<div class="img">
								<label>
									<input type="checkbox" name="image" value="<%= actors[i].id %>"/>
									<img src="<%= actors[i].img %>" onclick="chooseImgForEditMedia(this)"/>
									<span class="checkmark"></span>
								</label>
							</div>
						<% } %>
					</div>
					<div class="col-25">
						<% for (let i=1; i < actors.length; i+=4) { %>
							<div class="img">
								<label>
									<input type="checkbox" name="image" value="<%= actors[i].id %>"/>
									<img src="<%= actors[i].img %>" onclick="chooseImgForEditMedia(this)"/>
									<span class="checkmark"></span>
								</label>
							</div>
						<% } %>
					</div>
					<div class="col-25">
						<% for (let i=2; i < actors.length; i+=4) { %>
							<div class="img">
								<label>
									<input type="checkbox" name="image" value="<%= actors[i].id %>"/>
									<img src="<%= actors[i].img %>" onclick="chooseImgForEditMedia(this)"/>
									<span class="checkmark"></span>
								</label>
							</div>
						<% } %>
					</div>
					<div class="col-25">
						<% for (let i=3; i < actors.length; i+=4) { %>
							<div class="img">
								<label>
									<input type="checkbox" name="image" value="<%= actors[i].id %>"/>
									<img src="<%= actors[i].img %>" onclick="chooseImgForEditMedia(this)"/>
									<span class="checkmark"></span>
								</label>
							</div>
						<% } %>
					</div>
				</div>
				<div class="folder">
					<h3><i class="th-folder"></i> news</h3>
					<hr>
				</div>
				<div class="row">
					<div class="col-25">
						<% for (let i=0; i < news.length; i+=4) { %>
							<div class="img">
								<label>
									<input type="checkbox" name="image" value="<%= news[i].id %>"/>
									<img src="<%= news[i].img %>" onclick="chooseImgForEditMedia(this)"/>
									<span class="checkmark"></span>
								</label>
							</div>
						<% } %>
					</div>
					<div class="col-25">
						<% for (let i=1; i < news.length; i+=4) { %>
							<div class="img">
								<label>
									<input type="checkbox" name="image" value="<%= news[i].id %>"/>
									<img src="<%= news[i].img %>" onclick="chooseImgForEditMedia(this)"/>
									<span class="checkmark"></span>
								</label>
							</div>
						<% } %>
					</div>
					<div class="col-25">
						<% for (let i=2; i < news.length; i+=4) { %>
							<div class="img">
								<label>
									<input type="checkbox" name="image" value="<%= news[i].id %>">
									<img src="<%= news[i].img %>" onclick="chooseImgForEditMedia(this)"/>
									<span class="checkmark"></span>
								</label>
							</div>
						<% } %>
					</div>
					<div class="col-25">
						<% for (let i=3; i < news.length; i+=4) { %>
							<div class="img">
								<label>
									<input type="checkbox" name="image" value="<%= news[i].id %>"/>
									<img src="<%= news[i].img %>" onclick="chooseImgForEditMedia(this)"/>
									<span class="checkmark"></span>
								</label>
							</div>
						<% } %>
					</div>
				</div>
		</div>

		<div class="upload-img-block">
			<button onclick="hideUp()"></button>
			<div class="wrapper-img">
				<h3>Выберите папку:</h3><br/>
				<select id="folderselect">
					<option value="gallery">gallery</option>
					<option value="news">news</option>
					<option value="actor">actors</option>
				</select>
				<label class="file ok"><input type="file" id="sortpicture"/>Выбрать изображение</label>
				<input id="upload" value="Загрузить" class="ok" type="button"/>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/javascripts/upload.js"></script>
		
<% include footer-admin %>