<% include header-admin %>
	<div class="section-1">
			<ul class="list">
				<li><a href="/admin"><i class="th-home"></i> Главная</a></li>
				<li class="active"><a href="/admin/news"><i class="th-pin"></i> Записи</a></li>
				<li><a href="/admin/actors"><i class="th-group"></i> Актеры</a></li>
				<li><a href="/admin/imgs"><i class="th-picture"></i> Медиафайлы</a></li>
			</ul>
		</div>
		<div class="section-2">
			<h2>Записи</h2>
			<div class="element-list">
				<h3>Новости</h3>
				<a href="/admin/news/add">
					<div class="list-element">
						<div class="plus"><span></span><span></span></div>
						<div class="text">
							<a href="/admin/news/add" class="href-btn ok">Добавить</a>
						</div>
					</div>
				</a>
				<div class="list-element">
					<div class="text">
						<span>Ближайшее выступление</span>
					</div>
						<select class="select-soon-scene" name="soon-scene" onchange="changeSoonScene()">
							<option value="Цыганская опера">Цыганская опера</option>
							<option value="Французский балет">Французский балет</option>
							<option value="Драматичная комедия">Драматичная комедия</option>
							<option value="Замок Дракулы">Замок Дракулы</option>
							<option value="Пироженное рагу">Пироженное рагу</option>
						</select>
				</div>
				<% news.forEach( (post) => { %>
							<div class="list-element">
								<img src="<%= post.img %>" alt="img"/>
								<div class="text">
									<h4><%= post.title %></h4>
									<p data-cut><%= post.text %></p>
									<p class="date"><%= moment(post.date).format('DD-MM-YYYY') %></p>
									<a href="/admin/news/edit/<%= post.id %>" class="href-btn ok"><i class="th-edit"></i> Изменить</a>
									<button class="href-btn danger" onclick="deleteNews(<%= post.id %>)"><i class="th-trash"></i> Удалить</button>
								</div>
							</div>
				<% }); %>

			</div>
		</div>
<% include footer-admin %>
