<!DOCTYPE html>
<html lang="ru">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<title>Гиперборея</title>

	<link rel="shortcut icon" href="/images/theater.png" type="image/x-icon">

	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/media.css">
	<link rel="stylesheet" href="/stylesheets/slideshow.css">
	<link rel="stylesheet" href="/stylesheets/card.css">
	<link rel="stylesheet" href="/stylesheets/post.css">
	<link rel="stylesheet" href="/stylesheets/admin/css/theatre.css">
</head>
<body data-page="index">
	<div id="opening-circle"></div>
	<div id="resp-menu"></div>
	<div class="header">
		<div class="logo-block">
			<a href="/">
				<img src="/images/theater.png" alt="logo">
				<p>Гиперборея</p>
			</a>
			<div id="collapse-menu-button">
				<span>≡</span>
			</div>
		</div>
		<div class="menu">
			<div class="menu-el"><a href="/">Главная</a></div>
			<div class="menu-el"><a href="/news">Постановки</a></div>
			<div class="menu-el"><a href="/actors">Труппа</a></div>
			<div class="menu-el"><a href="/gallery">Галерея</a></div>
			<div class="menu-el"><a href="/about">О нас</a></div>
		</div>
	</div>
	<div id="scroll-progress"></div>
	<div class="first-block block">
		<div class="slide fade">
			<h2>Молодежный театр Гиперборея</h2>
		</div>
		<div class="slide fade">
			<h2>Если вы решили действовать — закройте двери для сомнений.</h2>
		</div>
		<div class="slide fade">
			<h2>Величайшие события — это не наши самые шумные, а наши самые тихие часы.</h2>
		</div>
		<div class="slide fade">
			<h2>То, что делается ради любви, происходит вне сферы добра и зла.</h2>
		</div>
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  	<a class="next" onclick="plusSlides(1)">&#10095;</a>
  	<div class="dots">
		  <div>
		  	<span onclick="currentSlide(1)"></span>
		  	<span onclick="currentSlide(2)"></span>
		  	<span onclick="currentSlide(3)"></span>
		  	<span onclick="currentSlide(4)"></span>
		  </div>
		</div>
	</div>
	<div class="second-block block">
		<h2 class="head-text"><a href="/news">БЛИЖАЙШЕЕ СОБЫТИЕ</a></h2>
		<div class="second-block-flex-container">
			<a href="/news-page/<%= main.id %>">
				<div class="news-block animating">
					<div class="table-cell image-cell">
						<img src="<%= main.img %>" alt="img">
					</div>
					<div class="table-cell text-cell">
						<h2><%= main.title %></h2>
						<div class="date">
							<p class="number"><%= new Date(main.date).toDateString().split(' ')[2] %></p>
							<p class="month"><%= ['Января','Февраля','Марта','Апреля','Мая','Июня','Июля','Августа','Сентября','Октября','Ноября','Декабря'][new Date(main.date).getMonth()] %></p>
							<p class="time"><i class="th-clock"></i><%= main.time %></p>
						</div>
						<p><i class="th-author"></i><%= main.author %></p>
						<p><i class="th-location"></i><%= main.place %></p>
						<p><i class="th-description"></i><%= main.text.substring(0,180) %>...</p>
						<p class="free-admission">Вход свободный</p>
					</div>
				</div>
		</a>
		</div>
	</div>
	<div class="third-block block">
		<h2 class="head-text"><a href="/news">ПОСЛЕДНИЕ ВЫСТУПЛЕНИЯ</a></h2>
		<div class="flex-container">
			<% news.forEach( function (post) { %>
				<div class="tab animating">
					<a href="/news-page/<%= post.id %>">
						<img src="<%= post.img %>" alt="img">
						<div class="descript">
							<p class="title"><%= post.title %></p>
							<hr>
							<p class="text-content"><%= post.text.substring(0,80) %>...</p>
							<p class="info">Подробнее...</p>
							<footer><i class="far fa-clock"></i> <%= moment(post.date).format('DD-MM-YYYY') %></footer>
						</div>
					</a>
				</div>
			<% }); %>
		</div>
		</div>
	</div>
	<div class="footer">
		<div class="contact-footer">
			<p>Наши контакты</p>
			<a href="tel:+79062492306">+7-906-249-23-06</a>
			<a href="mailto:mail@hyperborea-theatre.ru">mail@hyperborea-theatre.ru</a>
		</div>
		<div class="icons-footer">
			<a href="https://www.spbstu.ru" target="_blank"><img src="/images/politex.png"></a>
			<a href="http://www.sc.spbstu.ru/" target="_blank"><img src="/images/studclub.png"></a>
		</div>
	</div>

	<script src="javascripts/script.js"></script>
	<script src="javascripts/slideshow.js"></script>
</body>
</html>
