<!DOCTYPE html>
<html lang="ru">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<title>Гиперборея</title>

	<link rel="shortcut icon" href="/images/theater.png" type="image/x-icon">

	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/media.css">
	<link rel="stylesheet" href="/stylesheets/slideshow.css">
	<link rel="stylesheet" href="/stylesheets/card.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body data-page="index">
	<div id="opening-circle"></div>
	<div id="resp-menu"></div>
	<div class="header">
		<div class="logo-block">
			<a href="/">
				<img src="/images/theater.png" alt="logo">
				<p>Гиперборея</p>
			</a>
			<div id="collapse-menu-button">
				<span>≡</span>
			</div>
		</div>
		<div class="menu">
			<div class="menu-el"><a href="/">Главная</a></div>
			<div class="menu-el"><a href="/news">Постановки</a></div>
			<div class="menu-el"><a href="/actors">Труппа</a></div>
			<div class="menu-el"><a href="/gallery">Галерея</a></div>
			<div class="menu-el"><a href="/about">О нас</a></div>
		</div>
	</div>
	<div id="scroll-progress"></div>
	<div class="first-block block">
		<div class="slide fade">
			<h2>Молодежный театр Гиперборея</h2>
		</div>
		<div class="slide fade">
			<h2>Если вы решили действовать — закройте двери для сомнений.</h2>
		</div>
		<div class="slide fade">
			<h2>Величайшие события — это не наши самые шумные, а наши самые тихие часы.</h2>
		</div>
		<div class="slide fade">
			<h2>То, что делается ради любви, происходит вне сферы добра и зла.</h2>
		</div>
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  	<a class="next" onclick="plusSlides(1)">&#10095;</a>
  	<div class="dots">
		  <div>
		  	<span onclick="currentSlide(1)"></span>
		  	<span onclick="currentSlide(2)"></span>
		  	<span onclick="currentSlide(3)"></span>
		  	<span onclick="currentSlide(4)"></span>
		  </div>
		</div>
	</div>
	<div class="second-block block">
		<h2 class="head-text"><a href="/news">БЛИЖАЙШЕЕ СОБЫТИЕ</a></h2>
		<div class="second-block-flex-container">
			<div class="soon-scene animating">
				<svg>
					<polygon points="500,0 500,400 400,400" style="fill:#f1f1f1;stroke:#f1f1f1;stroke-width:1" />
				</svg>
				<div>
					<h2>Готовится к постановке</h2>
					<h4><%= main.title %></h4>
					<p><%= main.text %></p>
				</div>
			</div>
		</div>
	</div>
	<div class="third-block block">
		<h2 class="head-text"><a href="/news">ПОСЛЕДНИЕ ВЫСТУПЛЕНИЯ</a></h2>
		<div class="flex-container">
			<% news.forEach( function (post) { %>
				<div class="tab animating">
					<a href="/news-page/<%= post.id %>">
						<img src="<%= post.img %>" alt="img">
						<div class="descript">
							<p class="title"><%= post.title %></p>
							<hr>
							<p class="text-content" data-cut><%= post.text %></p>
							<p class="info">Подробнее...</p>
							<footer><i class="far fa-clock"></i> <%= moment(post.date).format('DD-MM-YYYY') %></footer>
						</div>
					</a>
				</div>
			<% }); %>
		</div>
		</div>
	</div>
	<div class="footer">
		<div class="contact-footer">
			<p>Наши контакты</p>
			<a href="tel:8-800-555-3535">8-800-555-3535</a>
			<a href="mailto:theater@theatermail.ru">theater@theatermail.ru</a>
		</div>
		<div class="icons-footer">
			<a href="https://vk.com"><i class="fab fa-vk"></i></a>
			<a href="https://facebook.com"><i class="fab fa-facebook-square"></i></a>
		</div>
	</div>

	<script src="javascripts/script.js"></script>
	<script src="javascripts/slideshow.js"></script>
</body>
</html>
