<% include meta %>
	<link rel="stylesheet" href="/stylesheets/post.css">
	<title><%= post.title %></title>
<% include header %>
	<div class="afish-page-wrapper">
		<div class="news-block">
			<div class="table-cell image-cell">
				<img src="<%= post.img %>" alt="img">
			</div>
			<div class="table-cell text-cell">
				<span class="clocks"><i class="far fa-clock"></i> <%= moment(post.date).format('DD-MM-YYYY') %> в <%= post.time %></span>
				<h2 class="first-block"><%= post.title %></h2>
				<p class="author"><%= post.author %></p>
				<hr>
				<p><span>Длительность</span>: <%= post.duration %></p>
				<p><span>Место</span>: <%= post.place %></p>
				<p><span>Режиссер</span>: <%= post.producer %></p>
				<p><span>Хореограф</span>: <%= post.choreographer %></p>
				<p><span>Актеры</span>: <%= post.actors %></p>
			</div>
			<div class="table-cell description-cell">
				<p class="description"><%= post.text %></p>
			</div>
		</div>
	</div>

	<script src="/javascripts/script.js"></script>
<% include footer %>
