<% include meta %>
	<link rel="stylesheet" href="/stylesheets/news.css">
	<title>Постановки</title>
<% include header %>
	<div class="news-block">
		<h1 class="first-block"><span>Постановки</span></h1>
		<div class="content">
			<% news.forEach( function (post) { %>
				<div class="flex-container">
					<div>
						<div>
							<h2><%= post.title %></h2>
							<p data-cut><%= post.text %></p>
							<a href="news-page/<%= post.id %>">Подробнее...</a>
							<footer><i class="far fa-clock"></i> <%= moment(post.date).format('DD-MM-YYYY') %></footer>
						</div>
					</div>
					<img src='<%= post.img %>' alt="img">
				</div>
			<% }); %>
	</div>

	<script src="/javascripts/script.js"></script>
	<script src="/javascripts/lifeload.js"></script>
<% include footer %>
