<% include meta %>
	<link rel="stylesheet" href="/stylesheets/post.css">
	<title><%= post.title %></title>
<% include header %>
	<div class="afish-page-wrapper">
		<div class="news-block">
			<div class="table-cell image-cell news-page">
				<img src="<%= post.img %>" alt="img">
			</div>
			<div class="table-cell text-cell news-page">
				<div class="date">
					<p class="number"><%= new Date(post.date).toDateString().split(' ')[2] %></p>
					<p class="month"><%= ['Января','Февраля','Марта','Апреля','Мая','Июня','Июля','Августа','Сентября','Октября','Ноября','Декабря'][new Date(post.date).getMonth()] %></p>
					<p class="time"><i class="th-clock"></i><%= post.time %></p>
				</div>
				<h2 class="first-block"><%= post.title %></h2>
				<p><i class="th-author"></i><%= post.author %></p>
				<p><i class="th-location"></i><%= post.place %></p>
				<p>Длительность: <%= post.duration %></p>
				<p>Режиссер: <%= post.producer %></p>
				<p>Хореограф: <%= post.choreographer %></p>
				<p><i class="th-group"></i><%= post.actors %></p>
			</div>
			<div class="table-cell description-cell">
				<p class="description"><i class="th-description"></i><%= post.text %></p>
			</div>
		</div>
	</div>

	<script src="/javascripts/script.js"></script>
<% include footer %>
